{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
{% block content %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hello!!</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
	<script src="{% static 'js/home.js' %}">
	<script src="{% static 'js/slide-stories.js'  %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>






{% for i in messages %}
{{i}}<br>
{% endfor %}

  

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<div class="list-group">
				  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
				    Users
				  </a>
				  {% for user in all_users %}

				  <a href="{% url 'show_profile' user.username %}" class="list-group-item list-group-item-action">
				  	 <img src="{{user.profile_pic.url}}" alt="mdo" width="32" height="32" class="rounded-circle">

				  	{{user.username}}<br>
				  	Following : {{user.following.count}} 
{{prof.following.all}}

				  <a href="{% url 'chat-page' user.username %}">Chat!!</a>
				  </a>
				  {% endfor %}
				</div>
			</div>
			<div class="col-md-9">
				 <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
		{% for post in all_post %}
				 	<div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" focusable="false">
            	<img src="{{post.image.url}}">
            </svg>
            <div class="card-body">
              <p class="card-text">{{post.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'post_comment' post.id %}"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                  <a href="{% url 'update_post' post.id %}"><button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </a>
                <a name="{{ post.id }}" class="likin" id="co">
                {% if user in post.likes.all %}
                <button class="btn btn-sm btn-outline-danger" id="like-button" type="button" >
                Unlike
            {% else %}
            <button onclick="changecolour()" class="btn btn-sm btn-outline-success" type="button" >

            Like
            {% endif %}
            </button>{{post.total_like}}</a>

            </div>
               
              </div>
            </div>
          </div>
				 	</div>
				 	{% endfor %}
			</div>
		</div>
	</div>



<!--




<a href=</a><br>



{% for p in post %}
<img src="{% get_media_prefix %}{{p.image}}" width="100" height="100"><br>
<br>

<br>
{% if not p.comments.all %}

Onnum illa kelambu da !!
{% else %}
{% for comment in p.comments.all %}
{{comment.descr}}<br>
{% endfor %}

{% endif %}

<a href="{% url 'post_comment' p.pk %}">Add comment</a><br/><br/>
{% endfor %}
-->
</body>
</html>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
// AJAX CALL
    function changecolour(){
        var likeButton = document.getElementById("like-button")
        alert()

    }
$('.likin').click(function(){
    $.ajax({
             type: "POST",
             url: "{% url 'post_like' %}",
             data: {'content_id': $(this).attr('name'),'operation':'like_submit','csrfmiddlewaretoken': '{{ csrf_token }}'},
             dataType: "json",
             success: function(response) {
              selector = document.getElementsByName(response.content_id);
                    if(response.liked==true){
                      $(selector).css("color","blue");
                    }
                    else if(response.liked==false){
                      $(selector).css("color","black");
                    }


              }

        });

  })
</script>
{% endblock %}