{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hello!!</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
Home!!<br>




{% if user.is_authenticated %}
{{user}}
{{user.profile_deltails.bio}}<br>
<a href="/logout">varuta mame durrr!!</a>
{%else%}
<a href="/signup">va Arunachallam!!!</a><br>
<a href="{% url 'logout' %}">thirumavaa Arunachallam!!</a><br>
{% endif %}

messages<br>
{% for i in messages %}
{{i}}<br>

{% endfor %}

{% for user in all_users %}

<a href="{% url 'show_profile' user.username %}">{{user.username}}</a><br>

{% endfor %}


{% for p in post %}
<img src="{% get_media_prefix %}{{p.image}}" width="100" height="100"><br>

<br>
{% if not p.comments.all %}

Onnum illa kelambu da !!
{% else %}
{% for comment in p.comments.all %}
{{comment.descr}}<br>
{% endfor %}

{% endif %}

<a href="{% url 'post_comment' p.pk %}">Add comment</a><br/><br/>
{% endfor %}


</body>
</html>
