{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Profile - {{prof.username}}</title>
</head>
<body>
<img src="{{prof.profile_pic.url}}" height="100" width="100">

<strong>{{prof.bio}}</strong><br>
{% if user.id != prof.id %}
<form method="POST" action="{% url 'follow' prof.username %}">
	{% csrf_token %}
	{% if user in prof.following.all %}
		<button type="submit">Unfollow</button>
	{% else %}	
<button type="submit">Follow</button>
{% endif %}
</form>
{% endif %}
-->
<strong>{{prof.following.count}}</strong>
<br>
{{request.user.id}}-{{prof.id}}
{% if request.user.id == prof.id %}
<form method="POST" action="{% url 'update_profile' %}">
	{% csrf_token %}
<button type="submit">Update Profile
</button>
</form>

{% endif %}
</body>
</html>